# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Local environment variables
.env
.env.local
.env.*.local

# Large / Generated RAG index files
vector_store.json

# Standard PDF documents (prevents copyright infringement of ISO standards on public GitHub repos)
*.pdf

# Operating system files
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

# Streamlit config / cache
.streamlit/
